# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# NO ignores:
# dist (no lo subimos, solo su contenido)
# index.html  ✅ se publica
# assets/     ✅ se publica

# Evitar subir el index de producción en local por error
index.prod.html
gh-pages/
dist/